/* line 7, ../_sass/style.scss */
h1, h2, h3, h4, h5, strong, b {
  font-weight: 600;
}

/* line 9, ../_sass/style.scss */
html, body {
  height: 100%;
}

/* line 10, ../_sass/style.scss */
body {
  background: #f9f9f9;
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
}
/* line 11, ../_sass/style.scss */
body, body * {
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../_sass/style.scss */
img {
  border: none;
}

/* line 21, ../_sass/style.scss */
#go-back-home {
  margin: 40px 0 0;
}
/* line 21, ../_sass/style.scss */
#go-back-home:hover {
  background-image: none;
}

/* line 22, ../_sass/style.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 23, ../_sass/style.scss */
.upcase {
  text-transform: uppercase;
}

/* line 24, ../_sass/style.scss */
.downcase {
  text-transform: lowercase;
}

/* line 25, ../_sass/style.scss */
.hide {
  display: none;
}

/* line 26, ../_sass/style.scss */
.a-r {
  text-align: right;
}

/* line 27, ../_sass/style.scss */
.a-c {
  text-align: center;
}

/* line 28, ../_sass/style.scss */
.small {
  font-size: 11px;
}

/* line 29, ../_sass/style.scss */
.pull-left {
  float: left;
}

/* line 30, ../_sass/style.scss */
.pull-right {
  float: right;
}

/* line 31, ../_sass/style.scss */
.muted {
  color: #8f8f8f;
}

/* line 32, ../_sass/style.scss */
.colour-1 {
  color: #cc9944;
}

/* line 33, ../_sass/style.scss */
.colour-2 {
  color: #925;
}

/* line 34, ../_sass/style.scss */
.colour-3 {
  color: #448844;
}

/* line 35, ../_sass/style.scss */
.text-big {
  font-size: 24px;
  line-height: 1em;
}

/* line 36, ../_sass/style.scss */
ol, ol li {
  padding: 0;
  margin: 0;
}

/* line 37, ../_sass/style.scss */
blockquote {
  margin: 0;
  font-style: normal !important;
}

/* line 42, ../_sass/style.scss */
header {
  text-align: center;
}
/* line 44, ../_sass/style.scss */
header h1 {
  color: #303030;
}

/* line 49, ../_sass/style.scss */
footer {
  width: 100%;
  max-width: 700px;
  line-height: 2em;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
  font-size: 0.7em;
}
/* line 57, ../_sass/style.scss */
footer img {
  vertical-align: -25%;
}
/* line 60, ../_sass/style.scss */
footer img#octocat {
  width: 16px;
  margin-left: 0.3em;
}

/* line 66, ../_sass/style.scss */
#container {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  background: #fff;
  margin: 40px auto 20px;
  border-radius: 7px;
  border: 1px solid #eee;
  position: relative;
}
/* line 18, ../_sass/bourbon/addons/_clearfix.scss */
#container:before, #container:after {
  content: " ";
  display: table;
}
/* line 23, ../_sass/bourbon/addons/_clearfix.scss */
#container:after {
  clear: both;
}
/* line 76, ../_sass/style.scss */
#container .block {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 30px 40px 24px;
  text-align: center;
}
/* line 77, ../_sass/style.scss */
#container .block:first-child, #container .block + .block {
  border-top: 0;
}
/* line 78, ../_sass/style.scss */
#container .block:last-child {
  border-bottom: 0;
}
/* line 83, ../_sass/style.scss */
#container .block a.main {
  color: #448844;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  padding: 2px 2px;
  margin-right: 12px;
  margin-bottom: 6px;
}
/* line 89, ../_sass/style.scss */
#container .block a.main:last-of-type {
  margin-right: 0;
}
/* line 90, ../_sass/style.scss */
#container .block a.main:hover {
  color: #88c388;
}
/* line 94, ../_sass/style.scss */
#container .block .button {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  height: 20px;
  overflow: hidden;
}

/* line 103, ../_sass/style.scss */
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-width: 0;
  border-style: solid;
  padding: 30px 60px;
  margin: auto;
}
/* line 111, ../_sass/style.scss */
.content li {
  margin-bottom: 0.4em;
}

/* line 116, ../_sass/style.scss */
a, .as-link {
  text-decoration: none;
  color: #269;
  line-height: 1.4em;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 122, ../_sass/style.scss */
a.main, .as-link.main {
  font-size: 1.3em;
}
/* line 125, ../_sass/style.scss */
a:hover, .as-link:hover {
  color: #5fa6db;
}
/* line 128, ../_sass/style.scss */
a.big-button, .as-link.big-button {
  min-width: 30%;
  border-radius: 3px;
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -ms-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  padding: 8px 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  display: block;
  text-align: center;
  border-width: 0;
  border-style: solid;
  border-color: #8ab;
  background: #6f8f9f;
  box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.1);
}
/* line 147, ../_sass/style.scss */
a.big-button:hover, .as-link.big-button:hover {
  background: #608090;
}
/* line 150, ../_sass/style.scss */
a.big-button:active, .as-link.big-button:active {
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1);
}
/* line 151, ../_sass/style.scss */
a.big-button.red, .as-link.big-button.red {
  border-color: #ddacac;
  background: #a65;
}
/* line 154, ../_sass/style.scss */
a.big-button.red:hover, .as-link.big-button.red:hover {
  background: #b76;
}
/* line 156, ../_sass/style.scss */
a.big-button.gray, .as-link.big-button.gray {
  border-color: #f4f4f4;
  color: #ffffff;
  background: #565656;
}
/* line 160, ../_sass/style.scss */
a.big-button.gray:hover, .as-link.big-button.gray:hover {
  background: #676767;
}
/* line 162, ../_sass/style.scss */
a.big-button.blue, .as-link.big-button.blue {
  border-color: #ace;
  background: #678;
}
/* line 165, ../_sass/style.scss */
a.big-button.blue:hover, .as-link.big-button.blue:hover {
  background: #789;
}
/* line 167, ../_sass/style.scss */
a.big-button.green, .as-link.big-button.green {
  border-color: #ddeed0;
  background: #696;
}
/* line 170, ../_sass/style.scss */
a.big-button.green:hover, .as-link.big-button.green:hover {
  background: #797;
}

/* line 176, ../_sass/style.scss */
hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin: 25px 0;
}

/* line 183, ../_sass/style.scss */
ul.posts, ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 184, ../_sass/style.scss */
ul.posts li {
  margin-bottom: 20px;
}
/* line 185, ../_sass/style.scss */
ul.posts .datetime {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 130px;
  text-transform: uppercase;
  float: right;
  color: #999;
  font-size: 10px;
  text-align: right;
}

/* line 197, ../_sass/style.scss */
section.post {
  margin: 0 -60px;
  text-align: left;
  border-top: 0;
  padding: 0;
}
/* line 202, ../_sass/style.scss */
section.post > * {
  padding: 0 60px;
}
/* line 203, ../_sass/style.scss */
section.post ul ul, section.post ul ol, section.post ol ul, section.post ol ol {
  margin-left: 20px;
  padding: 0;
}
/* line 204, ../_sass/style.scss */
section.post h1 {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 60px;
}
/* line 209, ../_sass/style.scss */
section.post h1 .date {
  color: #d0d0d0;
  font-size: 10px;
}
/* line 213, ../_sass/style.scss */
section.post iframe {
  width: 100%;
}
/* line 214, ../_sass/style.scss */
section.post iframe, section.post img {
  padding: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 220, ../_sass/style.scss */
section.post, section > p {
  font-size: 14px;
  line-height: 1.6em;
}
/* line 222, ../_sass/style.scss */
section.post *, section > p * {
  max-width: 100%;
}
/* line 223, ../_sass/style.scss */
section.post em strong, section > p em strong {
  background-color: #ffffee;
  padding: 0 2px;
}
/* line 224, ../_sass/style.scss */
section.post blockquote, section > p blockquote {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  color: #606060;
  background: #f9f9f9;
  position: relative;
  overflow: hidden;
  display: block;
  padding: 15px 60px;
}
/* line 232, ../_sass/style.scss */
section.post blockquote:hover, section > p blockquote:hover {
  color: #454545;
}
/* line 233, ../_sass/style.scss */
section.post blockquote:hover:before, section > p blockquote:hover:before {
  color: #b8cec7;
}
/* line 234, ../_sass/style.scss */
section.post blockquote:before, section > p blockquote:before {
  left: -3px;
}
/* line 235, ../_sass/style.scss */
section.post blockquote:after, section > p blockquote:after {
  right: -2px;
}
/* line 236, ../_sass/style.scss */
section.post blockquote:before, section.post blockquote:after, section > p blockquote:before, section > p blockquote:after {
  content: "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^";
  font-size: 24px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  line-height: 0.4em;
  word-break: break-all;
  color: #d0dfda;
  display: block;
  width: 7px !important;
  white-space: normal;
}
/* line 249, ../_sass/style.scss */
section.post li .highlight, section > p li .highlight {
  padding: 0 10px;
}
/* line 250, ../_sass/style.scss */
section.post li p, section > p li p {
  margin-bottom: 5px;
}

/* line 252, ../_sass/style.scss */
.highlight {
  margin: 0;
  padding: 0;
}

/* line 253, ../_sass/style.scss */
pre {
  overflow-x: auto;
  padding: 10px 0;
  width: 100%;
  line-height: 1.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 261, ../_sass/style.scss */
code {
  font-size: 13px;
  color: #eee;
  background: #39382e;
  padding: 2px 4px 3px;
  border-radius: 2px;
  line-height: 1.3em;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

/* line 262, ../_sass/style.scss */
img {
  max-width: 100%;
}
/* line 264, ../_sass/style.scss */
img.half {
  width: 50%;
}

/* line 266, ../_sass/style.scss */
.signoff {
  margin-top: 30px;
}
/* line 266, ../_sass/style.scss */
.signoff img {
  width: 20px;
}

/* line 268, ../_sass/style.scss */
.paging a {
  opacity: 0.25;
}
/* line 269, ../_sass/style.scss */
.paging a:hover {
  opacity: 0.7;
  background: none;
}
/* line 270, ../_sass/style.scss */
.paging .left, .paging .right {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 60px;
}
/* line 276, ../_sass/style.scss */
.paging .left {
  margin-left: -340px;
}
/* line 277, ../_sass/style.scss */
.paging .right {
  margin-left: 320px;
}
